@charset "utf-8";
#body {
    background-color:#f1f1f1;
    margin:20px;
}
.required {
    color:red;
}

.h-center {
    margin-left: auto;
    margin-right: auto;
}

.one-three-width {
    width:40.5%;
}

.two-three-width {
    width:66%;
}
.tabmove{
    
}
.no-border-text{
    border: 0;
    box-shadow: 0 0;
}
.no-border-text:hover{
    border: 0;
}
button{
    cursor: pointer;
    border-radius: 4px;
}
.cursor-pointer{
    cursor: pointer;
}
/*输入框区域定义*/
.input-big-div{float:left;display:block; margin:10px 0 10px 0;width:28%;}/*大*/
.input-small-div{float:left;display:block; margin:15px 20px 10px;height:30px;width:21%;}/*小*/
.input-mini-div{float:left;display:block; margin:15px 20px 10px;height:30px;width:16%;}/*迷你*/
.input-text-only{width:85%;}
.input-order-div{
    float: left;
    display: block;
    width: 25%;
    text-align: left;
    margin: 5px 0 5px 0;
}
.input-order2-div{
    float: left;
    display: block;
    width: 20%;
    text-align: right;
    margin: 5px 0 5px 0;
}
.input-small-div-wg{
    float: left;
    display: block;
    margin: 15px 0px 10px;
    height: 30px;
    width: 33%;
}
.input-text-choose{
    width:70%;
    border-top-right-radius:0px;
    border-bottom-right-radius:0px;}
.input-choose{float:left;
    width:14%;
    height:40px;
    background: url(/resources/images/triangle_down.png) no-repeat center;
    border-top-right-radius:5px;
    border-bottom-right-radius:5px;
    cursor: pointer;
}
.input-choose-small{
    float:right;
    width:12%;
    height:28px;
    background: url(/resources/images/triangle_down.png) no-repeat center;
    border-top-right-radius:5px;
    border-bottom-right-radius:5px;
}
.choose-select-list{
    list-style: none;
    font-size: 14px;
    background-color: white;
    border: solid 1px #E2E1E1;
    display: none;
    z-index: 99999;
    max-height: 240px;
    overflow: auto;
}
.choose-select-list li{
    text-align: center;
    cursor: default;
    height: 30px;
    line-height: 30px;
    overflow: hidden;
    font-size: 12px;
}
.choose-select-list li:hover{
    background-color: #BFDFF4;
}
.input-two-row{
    width: 47%;
    float: left;
    line-height: 30px;
    font-size: 14px;
    height: 52px;
}
.input-two-row span{
    width: 35%;
    text-align: right;
    display: inline-block;
}
.input-userinfo-text{
    height: 30px;
    width: 40%;
    background-color: #fff;
    border: solid 1px #ddd;
    margin: 10px;
    text-indent: 5px;
}
/*当前路径区域 begin*/
.crt-location{
	background-color:#fff;
	border:1px #d9d8d9 solid;
	line-height:10px;
	height:42px;
}

.path{
	margin:15px;
	display:block;
	float:left;
}

/*搜索框区域*/
.search-zone{
	display:block;
	float:right;
	height:42px;
	padding-left:35px;
	margin-right:200px;
	border-left:1px #d9d8d9 solid;
	background:url(/resources/images/search.png) no-repeat 5px 10px;
}

.input-search{
	height:42px;
	border:0;
}
.btn{
    color: white;
}
.btn:hover{
    color: black;
}
/*当前路径区域 end*/

/*按钮区域 begin*/
.button-zone {
	display:block;
    margin-top:20px;
	height:60px;
}

.button-zone-button {
	border-radius:3px;
	line-height:60px;
	height:60px;
	width: 120px;
	float:left;
	margin-right: 20px;
}

.button-zone-button a {
	color:#fff;
	height:100%;
	width: 100%;
	display:block;
	text-align: center;
}
.button-zone-button img{
    height:25px;
    width: 25px;
    margin-right: 5px;
}
/*按钮区域 end*/

/*信息区域 begin*/
.list-zone, .add-zone {
	display:block;
	margin-top:20px;
}
.list-banner-zone, .add-banner-zone {
	display:block;
	border-top-left-radius:5px;
	border-top-right-radius:5px;
	line-height:30px;
	height:30px;
	color: white;
}

.add-banner-zone-layer {
    display:block;
    line-height:30px;
    height:30px;
}

/*列表*/  
.list-banner-zone a, .add-banner-zone a,.add-banner-zone-layer a {
	display:block;
	float:left;
	margin:0px 10px;
	color:#fff;
	color:#fff;
}

.list-banner-zone a:hover{
}

.option {
	width:30px;
}

.option input {
	margin-left:8px;
}

/*新增*/
.add-zone-article {
    margin:auto;
    background-color:#fff;
    display:block;
}
.add_inputs_all_location{
    clear:both;
    float:left;
    width:100%;
}
.add-inputs {
    clear:both;
    width: 95%;
    margin: auto;
    overflow: hidden;
    padding: 5px;
}

.add-button {
    width:100%;
    padding:10px 0px 20px;
    margin:auto;
    text-align:center;
}
.add-button-far{
    width:100%;
    margin:auto;
    text-align:center;
}
/*新增箱子区域*/
.box-zone {
    border:1px solid;
    display:block;
}

.box-add{
    float:left;
    width:83px;
    height:83px;
    margin:15px;
    text-align: center;
    line-height: 83px;
    color: white;
}

.box {
    border-radius:5px;
    border:0px;
    text-align: center;
    font-size:18px;
    color:#fff;
    float:left;
    width:83px;
    height:83px;
    margin:15px;
}

.box-add{
    background-color: #caaddd;
}
#box-zone{
    margin: auto;
    width: 93%;
}

/*信息区域 end*/

/*选项卡区域 h-ui.admin.css*/

/*table数据修改 begin*/
.data-edit-tb{
    width: 98%;
}
.data-edit-tb tr{
    height: 60px;
    line-height: 60px;
}
.data-edit-tb td{
    margin: 10px;
}
/*table数据修改end*/

/*用户权限 begin*/
.roles-tr{
    width: 100%;
    height: 40px;
    line-height: 40px;
    text-indent: 1em;
    border-top: 1px solid #ddd;
    border-bottom: 1px solid #ddd;
}
.roles-tr-td-1{
    width: 15%;
    border-right: 1px solid #ddd;
}
.roles-tr-td-2{
    width: 85%;
}
.role-head{
    font-size: 14px;
    float: left;
    color: rgb(78, 78, 83);
}
.role-name{
    font-size: 12px;
    float: left;
    width: 25%;
}
.role-btn-dv{
    text-align: center;
    color: white;
}
.role-btn{
    color: white;
    min-width: 100px;
    height: 40px;
    cursor: pointer;
    margin: 20px;
}
.role-btn:hover{
    color: black;
}
/*用户权限 end*/

/*搜索条件区域 begin*/
.search-condition-zone{
    margin: 0 auto;
}
.search-conditions{
    margin: 0 auto;
    border: 1px solid #ddd;
}
.search-conditions-1{
    height: 60px;
    padding: 5px;
}
.search-conditions-2{
    height: 250px;
    padding: 5px;
}
.search-conditions-3{
    height: 65px;
    padding: 5px;
}
.search-conditions-4{
    height: 140px;
    padding: 5px;
}
.three-per-line{
    width: 33%;
    float: left;
    margin-bottom: 10px;
    margin-top: 10px;
}
.statistic-btn{
    height: 40px;
    margin-left: 80px;
}
.list-banner-zone img{
    width: 16px;
    height: 16px;
    margin-left: 5px;
}
.input-date-text{
    
}
.search-btn-rt{
    width: 97%;
    text-align: right;
}
/*搜索条件区域 end*/
/* 分页区域 start*/
.pageNav_location{
    text-align: center;
}
.pageNav_location button {
    width: auto;
    min-width: 60px;
    height: 24px;
    margin-left: 5px;
    border: 1px solid #D8D8D8;
    cursor: pointer;
    background-color: #22C0CC;
    color: white;
}
.pageNav_location button:hover {
    color: blue;
}
/* 分页区域 end*/
/* 订单详情start*/
.tb-detail{
    width: 100%;
}
.tb-detail tr{
    height: 30px;
    line-height: 30px;
    border: 1px solid #C9D6D8;
}
.h-row-three{
    width: 13%;
    background-color: #7CD0E2;
    text-align: right;
    padding-right: 5px;
}
.no-bg-row-three{
    text-align: right;
    padding-right: 5px;
    color: #3900A6;
}
.c-row-three{
    width: 20%;
    text-indent: 0.5em;
}
.statistic-lgd span{
    font-size: 12px;
    padding-left: 40px;
    font-weight: bold;
    color: rgb(4, 41, 189);
}
#expenseTable thead tr,#incomeTable thead tr,#dld_tb_head thead tr{
    border: 1px solid #C9D6D8;
    background-color: #7CD0E2;
}
.hd-legend{
    color: #69A0BE;
    font-weight: bold;
    margin: 10px 0 10px 20px;
}
.lcl_div_row{
    float: left;
    width: 33%;
}
/* 订单详情 end*/
/* 基本设置 start*/
.menu_button_location{
    margin-top:18px;
    float:left;
    margin-left:18px;
}
.menu_button{
    border-style:none;
    min-width:110px;
    color:#FFF;
    height:30px;
    border-radius: 2px;
    font-size:15px;
    cursor:pointer;
    background-color: #80B8DB;
}
.clear {
    clear: both;
}
.add_prefix_button{
    width:100%;
    padding:10px 0px 20px;
    margin-top:20px;
    text-align:center;
}
.add_prefix_location{
    clear:both;
    padding:10px 26px;
    width:50%;
    text-align: right;
}
.add-button-prefix {
    width:100%;
    padding:20px 0px 20px;
    margin:auto;
    text-align:center;
}
.common_edit_img{
    width:18px;
    cursor:pointer;
}
.common_mode_manage_location{
    margin-left:46px;
}
.crt-menu-btn{
    background-color: #ffffff;
    color: #397aa6;
    border-bottom: 0;
    margin-top: 3px;
}
.prefix-row-dv{
    height: 60px;
    line-height: 60px;
    font-size: 14px;
    margin: 20px;
}
.prefix-row-dv span{
    
}
.prefix-text-in{
    border: solid 1px #ddd;
    background-color: #fff;
    color: #555;
    width: 200px;
    height: 40px;
}
.th-colspan-center{
    background-color: #BFDFF4;
}
.th-colspan-center th{
    text-align: center;
}
.set-common-tb tr{
    display: block;
    width: 100%;
    line-height: 38px;
    height: 38px;
}
.set-common-tb th{
    text-indent: 0.5em;
    font-size: 14px;
    border-bottom: 0;
}
.set-common-tb td{
    height: 37px;
    line-height: 37px;
    text-indent: 0.5em;
}
.set-common-tb{
    height: 300px;
    overflow: auto;
    border: solid 1px #ddd;
    margin: 15px 20px 15px 20px;
    display: block;
    float: left;
}
.set-common-tb tbody{
    overflow: auto;
    display: block;
}
.common-td-1{
    width: 10%;
    display: block;
    float: left;
}
.common-td-2{
    width: 80%;
    display: block;
    float: left;
}
.common-td-3{
    width: 10%;
    display: block;
    float: left;
}
/* 基本设置end*/
.logistics-file-picker-link-em {
    background: url(/resources/images/add_file.png) 0 0;
    display: inline-block;
    width: 18px;
    height: 18px;
    overflow: hidden;
    margin: 6px 5px 10px 0;
    line-height: 20em;
    vertical-align: middle;
}
.logistics-file-download-em {
    background: url(/resources/images/down_file.png) 0 0;
    display: inline-block;
    width: 18px;
    height: 18px;
    overflow: hidden;
    margin: 6px 5px 10px 0;
    line-height: 20em;
    vertical-align: middle;
}
.fees_txt_common{
    height: 25px;
    width: 95%;
    border: solid 1px #b3b3b3;
}
.fees_table{
    border: 0;
}
.fees_table td{
    border: 0;
}
.sale_order_totalamount{
    margin: auto;
    width: 95%;
}
.txt_readonly_title{
    margin-left: 11px;
    font-size: 14px;
}
.txt_readonly_content{
    margin-left: 11px;
    font-size: 14px;
    color: #b3b3b3;
}
.input_5_div{
    float:left;
    display:block;
    margin:10px 0 10px 0;
    width:20%;
}
.input_3_div{
    float:left;
    display:block;
    margin:10px 0 10px 0;
    width:33%;
}
.my_legend{
    font-size: 14px;
    color: #909090;
    margin-left: 5px;
    font-weight: bold;
}
.fees_type_choose{
    height: 25px;
    line-height: 25px;
    width: 95%;
    margin: auto;
    font-size: 14px;
}
.customer_partner_fld{
    width: 100%;
    height: auto;
    overflow: hidden;
}
.goods_type_choose{
    width: 95%;
    padding: 10px 0 5px 0;
    margin: auto;
}
.cust_partner_l{
    overflow: hidden;
    padding: 0 0 0 43px;
    background-color: #EDEDED;
}
.cust_partner_l span{
    display: inline-block;
}
.cust_partner_sp{
    margin: 0 0 0 10px;
    color: #b3b3b3;
}
.container_tp_dv{
    padding: 10px 0 5px 0;
    height: 20px;
    line-height: 20px;
    margin: auto;
    width: 94%;
}
.container_tp_table{
    width: 40%;
    margin: 0 0 0 3%;
    float: left;
}
.container_tl_tb{
    float: left;
    width: 30%;
    text-align: center;
}
.container_tp_table td,.container_tl_tb td{
    height: 30px;
}
.fix_width_tp{
    width: 80px;
    line-height: 20px;
    font-size: 12px;
}
.check_saorder_btn{
    width: auto;
    min-width: 60px;
    height: 24px;
    margin-left: 5px;
    border: 1px solid #D8D8D8;
    cursor: pointer;
    background-color: #22C0CC;
    color: white;
}
.order_cust_dv{
    height: 40px;
    line-height: 40px;
}
.order_section_title{
    width: 95%;
    height: 30px;
    line-height: 30px;
    font-size: 16px;
    font-weight: bold;
    color: #69A0BE;
    margin: auto;
    padding: 5px 0 5px 0;
}
.container_tb_info tr{
    height: 20px;
    line-height: 20px;
    border: 1px solid #C9D6D8;
    font-size: 12px;
}
.container_tb_info{
    overflow: auto;
}
.custfor_order_text{
    width: 95%;
    border: solid 1px #b3b3b3;
    height: 25px;
    text-indent: 3px;
}
.custfor_order_select{
    border: solid 1px #b3b3b3;
    height: 26px;
}
.con_owner_dv{
    width: 98%;
    margin: auto;
    height: 30px;
    line-height: 30px;
    padding: 2px 0 2px 0;
}
.con_owner_dv span{
    display: inline-block;
    height: 25px;
    line-height: 25px;
    width: 50px;
    text-align: right;
}
.money_short_text{
    width: 60px;
    border: solid 1px #b3b3b3;
    height: 20px;
}
.text_5_left{
    float: left;
    width: 45%;
    height: 25px;
    line-height: 25px;
    text-align: right;
}
.text_5_right{
    float: left;
    width: 55%;
    height: 25px;
    line-height: 25px;
}
.text_3_left{
    float: left;
    width: 40%;
    height: 25px;
    line-height: 25px;
    text-align: right;
}
.text_3_right{
    float: left;
    width: 60%;
    height: 25px;
    line-height: 25px;
}
.operation_tb{
    width: 98%;
    margin: auto;
}
.operation_tb td{
    border: 1px solid #C9D6D8;
}
.td_section_header{
    text-align: center;
    font-size: 16px;
    font-weight: bold;
}
.operation_td1{
    width: 12%;
}
.operation_td2{
    width: 85%;
}
.radio_text{
    margin: 0 20px 0 0;
}
.fees_item_dv{
    width: 100%;
    min-height: 28px;
    line-height: 28px;
    margin: 15px 0 10px 0;
}
.fees_item_title{
    margin: 0 2px 0 25px;
}
.fees_item_txt{
    border: solid 1px #b3b3b3;
    width: 100px;
    height: 26px;
    text-indent: 3px;
}
.fees_item_txt2{
    border: solid 1px #b3b3b3;
    width: 80px;
    height: 26px;
    text-indent: 3px;
}